{% load static %}


<nav class="navbar navbar-expand-lg bg-light py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'registration:index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Code_ Sudan Logo" height="35">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'registration:landing' %}">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'registration:program_registration' %}">برآمجنا</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://courses.codesudan.io/" target="_blank">كورسآتنا</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">من نحن</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">تواصل معنا</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <a class="btn btn-light mx-2" role="button" aria-disabled="true">مرحبا {{ user.first_name }}</a>
            <a class="btn btn-secondary mx-2" href="{% url 'registration:logout' %}">تسجيل الخروج</a>
            {% else %}
            <a class="btn btn-warning mx-2" href="{% url 'registration:login' %}" role="button" aria-disabled="true">تسجيل الدخول</a>
            <a class="btn btn-warning mx-2" href="{% url 'registration:register' %}" role="button" aria-disabled="true">التسجيل</a>
            {% endif %}
        </div>
    </div>
</nav>


<!--
<body class="text-center bg-secondary">

    <div id="main_card">
        <div>
            <div>
                {% if user.is_authenticated %} مرحبا
                <strong>{{ user.first_name }}</strong> في عائلة كود_ سودان{% else %} غير مسجل {% endif %}
            </div>
            <br>
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
                <div class="container-fluid">

                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:index' %}">الرئيسية</a>
                        </li>
                        {% if user.is_complete %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:student_details' %}">تعديل بياناتي</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:my_programs' %}">برامجي
                                {% if request.session.programs_count %}
                                <span class="badge bg-secondary">{{request.session.programs_count}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:logout' %}">تسجيل الخروج</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:login' %}">تسجيل الدخول</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:register' %}">التسجيل</a>
                        </li>
                        {% endif %}
                    </ul>
                    <a class="navbar-brand" href="{% url 'registration:index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="CodeSudan Logo" width="100">
                    </a>
                </div>
            </nav>

            <br />
            {% if progress %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{progress}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            {% endif %}

            <div class="row"></div>
            {% if error_message %}
            <div class="alert alert-danger text-center" role="alert">
                {{error_message}}
            </div>
        </div>
        {% endif %}
        <div> 
        {% if quote %}
        <footer class="bg-light text-center">
            <figure class="text-center p-3">
                <blockquote class="blockquote">
                    <p>{{quote.quote}}</p>
                </blockquote>
                <figcaption class="blockquote-footer p-2">
                    {{quote.by}}
                </figcaption>
            </figure>
        </footer>

        {% endif %}
    </div>
</body>
-->