{% extends "registration/layout.html" %}

{% load static %}

{% block body %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>المرتبة</th>
                <th>الإسم</th>
                <th>الرابط</th>
            </tr>
        </thead>
        
        <tbody>
            
            {% for developer in developers %}
            <tr>
                <th>{{ developer.rank }}</th>
                <th>{{ developer.name_arabic }}</th>
                <th>{{ developer.facebook_url }}</th>
            </tr>
            {% endfor %}
                
            
        </tbody>

    </table>


{% endblock body %}