{% extends "registration/layout.html" %} {% load static %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 table-responsive-md">
      <table class="table table-hover text-center align-middle">
        <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>الإسم</th>
            <th>الرابط</th>
            
          </tr>
        </thead>

        <tbody>
          {% for developer in developers %}
          <tr>
            <th class="fs-3 text-muted">{{ developer.rank }}</th>
            <th>
                <img src="https://ui-avatars.com/api/?name={{developer.name_arabic}}&background=random&rounded=true" alt="" srcset="">
            </th>
            <th class="fs-1">{{ developer.name_arabic }}</th>

            <th>{{ developer.facebook_url }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock body %}
