<head>
    
</head>
<body dir="rtl">
    <div>
        <header>
            مرحبا {{name}}
        </header>
        <p>
            تم تسجيلك في برنامج {{program}} نتمنى لك رحلة تعليمية ممتعة خلال الأسابيع القادمة.
        </p>
        <p>
            لإكمال التسجيل النهآئي قم بالدخول لسيرفر كود سودان من خلال الخطوات التآلية: 
        </p>
        <ol>
            <li>
                قم بتحميل تطبيق ديسكورد: https://discord.com/download
            </li>
            <li>
                قم بالتسجيل في تطبيق ديسكورد و بعد ذلك الدخول على سيرفر كودـ سودان من خلال هذا الرابط: https://discord.com/invite/XMyG9wpj54

            </li>
            <li>
                قم بإرسال إسم المستخدم بعد دخولك على سيرفر كودـ سودان على ديسكورد على الواتساب او من خلال ديسكورد على إسم المستخدم aelsir#9879.
            </li>
            <li>
                خلال أقل من 72 ساعة سنقول بإضافتك لي قناة البرنامج و التواصل معاك لبداية البرنامج.
            </li>
        </ol>
        <p>
            نحن عآرفين إنو الخطوات ممكن تكون كتيرة حبة لكن حآ تستمتعوا بالبرنامج إن شاء الله.
        </p>
        <footer>
            تيم كود سودان.
        </footer>
    </div>
</body>



