html,
body {
  height: 20%;
}

body {
  display: grid;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F8F9FA;
}

#main_card{
  width: 100%;
  max-width: 90%;
  padding: 15px;
  margin: auto;
  background-color: white;
}