{% extends "registration/layout.html" %}

{% block body %}
{% load static %}

<div>
    <h1 class="fs-2 m-5 text-center">PINKY</h1>
</div>

<div class="container my-5 py-2" style="background-color:#EFEFEF; border-radius: 20px;" >
    
    
    <div class="row d-flex align-items-stretch justify-content-center my-3">
        <div class="col-md-10">
            <canvas id="RegistrationCanvas"></canvas>
        </div>
    </div>
</div>

<div class="container my-5 py-2" style="background-color:#EFEFEF; border-radius: 20px;" >
    <div class="row d-flex align-items-stretch justify-content-center my-3 g-3">
        <div class="col-md-5">
            <canvas id="GenderCanvas" height="250px"></canvas>
        </div>
        <div class="col-md-5">
            <canvas id="OccupationCanvas" height="250px"></canvas>
        </div>
    </div>

</div>

<script src="{% static 'js/chart.min.js' %}"></script>

<script>
    Chart.defaults.font.family = 'IBM Plex Sans Arabic Bold';
    const labels = {{labels | safe }};

    const data = {
        labels: labels,
        datasets: [{
                label: 'كمّل التسجيل',
                backgroundColor: '#0F9D58',
                borderColor: '#0F9D58',
                data: {{data_true_count | safe}},
                fill: false,
                pointStyle: 'recRot',
                pointRadius: 5,
                pointHoverRadius: 10
            },
            {
                label: 'مجموع المسجلين',
                backgroundColor: '#DB4437',
                borderColor: '#DB4437',
                data: {{data_total_count | safe}},
                fill: false,
                pointStyle: 'circle',
                pointRadius: 10,
                pointHoverRadius: 15
            },

        ]
    };


    const actions = [{
        name: 'pointStyle: rectRounded',
        handler: (chart) => {
            chart.data.datasets.forEach(dataset => {
                dataset.pointStyle = 'rectRounded';
            });
            chart.update();
        }
    }, ]


    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'المسجلين خلال كل إسبوع'
                },
            }
        },
    };


    const RegistrationCanvas = new Chart(
        document.getElementById('RegistrationCanvas'),
        config
    );


    const labels_gender = {{gender_lable | safe}};
    const data_gender = {
    labels: labels_gender,
    datasets: [{
        label: 'الرجال و النساء المسجلين',
        data: {{gender_data | safe}},
        backgroundColor: [
        '#0000FF',
        '#A020F0'
        ],
        borderColor: [
            '#0000FF',
            '#A020F0'
        ],
        borderWidth: 2
    }]
    };

    const config_gender = {
        type: 'bar',
        data: data_gender,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };

    const GenderCanvas = new Chart(
        document.getElementById('GenderCanvas'),
        config_gender
    );


    const labels_occupation = {{labels_occupation | safe}};
    const data_occupation = {
    labels: labels_occupation,
    datasets: [{
        label: 'My First Dataset',
        data: {{data_occupation | safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
        'rgb(255, 99, 132)',
        ],
        borderWidth: 1
    }]
    };

    const config_occupation = {
        type: 'bar',
        data: data_occupation,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };

    const OccupationCanvas = new Chart(
        document.getElementById('OccupationCanvas'),
        config_occupation
    );
</script>



{% endblock %}