{% extends "registration/layout.html" %}

{% block body %}
{% load static %}

<div class="container py-2" style="background-color:#EFEFEF;" border-radius: 20px;>
    <div>
        <h1 class="fs-2 m-5 text-center">بريييين</h1>
    </div>
    
    <div class="row d-flex align-items-stretch justify-content-center">
        <div class="col-md-10">
            <canvas id="RegistrationCanvas"></canvas>
        </div>
    </div>

    <div class="row d-flex align-items-stretch justify-content-center">
        <div class="col-md-5">
            <canvas id="GenderCanvas"></canvas>
        </div>
    </div>

    <div class="row d-flex align-items-stretch justify-content-center">
        <div class="col-md-5">
            <canvas id="OccupationCanvas"></canvas>
        </div>
    </div>

</div>

<script src="{% static 'js/chart.min.js' %}"></script>

<script>
    const labels = {{labels | safe }};

    const data = {
        labels: labels,
        datasets: [{
                label: 'Completed Registrations',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{data_true_count | safe}},
                fill: false,
                pointStyle: 'recRot',
                pointRadius: 5,
                pointHoverRadius: 10
            },
            {
                label: 'Total Registrations',
                backgroundColor: 'rgb(0, 0, 205)',
                borderColor: 'rgb(0, 0, 205)',
                data: {{data_total_count | safe}},
                fill: false,
                pointStyle: 'circle',
                pointRadius: 10,
                pointHoverRadius: 15
            },

        ]
    };


    const actions = [{
        name: 'pointStyle: rectRounded',
        handler: (chart) => {
            chart.data.datasets.forEach(dataset => {
                dataset.pointStyle = 'rectRounded';
            });
            chart.update();
        }
    }, ]


    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Registrations For Each Week'
                },
            }
        },
    };


    const RegistrationCanvas = new Chart(
        document.getElementById('RegistrationCanvas'),
        config
    );


    const labels_gender = {{gender_lable | safe}};
    const data_gender = {
    labels: labels_gender,
    datasets: [{
        label: 'My First Dataset',
        data: {{gender_data | safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
        ],
        borderWidth: 1
    }]
    };

    const config_gender = {
        type: 'bar',
        data: data_gender,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };

    const GenderCanvas = new Chart(
        document.getElementById('GenderCanvas'),
        config_gender
    );


    const labels_occupation = {{labels_occupation | safe}};
    const data_occupation = {
    labels: labels_occupation,
    datasets: [{
        label: 'My First Dataset',
        data: {{data_occupation | safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
        ],
        borderWidth: 1
    }]
    };

    const config_occupation = {
        type: 'bar',
        data: data_occupation,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };

    const OccupationCanvas = new Chart(
        document.getElementById('OccupationCanvas'),
        config_occupation
    );
</script>



{% endblock %}