{% extends "registration/layout.html" %}
{% block body %}
{% load static %}
{% load humanize %}

<div class="container p-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col">
            <img src="{% static '/img/side_photo_details.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="CodeSudan"
                height="700" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">برنامج {{batch.program}}</h1>
            <p class="lead">مرحبا بك في كود_ سودان، ونتمنى لك رحلة تعليمة متميزة، رؤية كود_ سودان هي جعل السودان مركز
                تكنلوجي في أفريقيا، كل
                برامجنا عملية بحيث تقوم ببناء 3 مشاريع على الأقل، و مبنية على إحتياج السوق بحيث تتوفر لك أفضل الفرص
                لدخول سوق العمل
                مباشرة بعد نهاية <mark>برنامج {{batch.program}}</mark>
        </div>
    </div>
</div>



<div class="container px-4 py-5" id="icon-grid">
    <h2 class="fw-bold pb-2 border-bottom">مميزات برامج كود_ سودان</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">

        <div class="col d-flex align-items-start">
            <img src="{% static '/svg/award-fill.svg' %}" alt="" width="40em" height="40em">
            <div>
                <h4 class="fw-bold mb-1">شهادة من كود_ سودان</h4>
                <p>بعد نهاية البرنامج مشروع التخرج ستستلم شهادتك</p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <img src="{% static '/svg/kanban-fill.svg' %}" class="ml-1" alt="" width="40em" height="40em">
            <div>
                <h4 class="fw-bold mb-1">قم ببناء مشاريع عملية</h4>
                <p class="px-2">كل برنامج يحتوي على ٣ مشاريع كحد أقل</p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <img src="{% static '/svg/person-hearts.svg' %}" alt="" width="40em" height="40em">
            <div>
                <h4 class="fw-bold mb-1">مدرسين خبراء في مجالهم</h4>
                <p>كل مدرسيننا عندهم خبرة عملية و علمية في المجال البدرسوهو</p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <img src="{% static '/svg/camera-video-fill.svg' %}" alt="" width="40em" height="40em">
            <div>
                <h4 class="fw-bold mb-1">معظم برامجنا أونلاين</h4>
                <p>تقدر تحضر كل برامجنا الأونلاينا من أي مكان</p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <img src="{% static '/svg/bank2.svg' %}" alt="" width="40em" height="40em">
            <div>
                <h4 class="fw-bold mb-1">كل برامجنا لايف</h4>
                <p>تقدر تحضر مدرس/ة البرنامج عن أي سؤال لايف، وتشاهد</p>
            </div>
        </div>


    </div>
</div>

<div class="row mb-5">
    <div class="col-sm-6">
        <div class="card-deck mb-3 text-center ">
            <div class="card mb-4 box-shadow border-primary">
                <div class="card-header text-white bg-primary border-primary">
                    <h4 class="my-0 font-weight-normal">النسخة الذهبية</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{batch.golden_edition_price|intcomma}} جنيه <small
                            class="text-muted">/ شهر</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>كل مميزات النسخة الأساسية</li>
                        <li>وصول مجاني و مدى الحياة لمكتبة كود_ سودان</li>
                        <li>تسجيل مجاني لأي كورس على منصة كود_ سودان التعليمية.</li>
                    </ul>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'registration:program_enrollment' package="golden" %}" role="button">قم بالتسجيل الآن</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">النسخة الأساسية</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{batch.basic_edition_price|intcomma}} جنيه <small
                            class="text-muted">/ شهر</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>مجتمع متفاعل ومحفز على التعلم</li>
                        <li>شهادة إكمال البرنامج من كود_ سودان</li>
                        <li>كل برامجنا أونلاين فممكن تتابعنا من أي مكان و أي زمان</li>
                        <li>كل المدرسيين عندهم خبرة عملية في البرامج البدرسوها</li>
                        <li>العمل على مشاريع صغيرة + مشروع تطبيق كامل</li>
                        <li>تسجيل لكل المحاضرات لتفادي سوء الإنترنت وانقطاع الكهرباء</li>
                    </ul>
                    <a class="btn btn-outline-primary btn-lg"
                        href="{% url 'registration:program_enrollment' package="basic" %}" role="button">قم
                        بالتسجيل الآن</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}