{% extends "registration/layout.html" %}
{% block body %}
{% load static %}
{% load humanize %}


<!--عن كودـ سودن-->
<div class="px-4 py-2" style="background-color: #EFEFEF; border-radius: 5%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3 justify-content-center">
        <div class="col-md-6">
            <img src="{% static '/img/program-hero/5.png' %}" class="d-block mx-lg-auto img-fluid" alt="women with glass"
                width="80%" loading="lazy" class="justify-content-end" style="border-radius: 5%;">
        </div>
        <div class="col-md-5 justify-content-center">
            <h1 class="display-3 mb-5 text-center" style="font-family: 'IBM Plex Sans Arabic Bold';">برنامج {{batch.program}}</h1>
            <p class="lead fs-4 text-center">مرحبا بك في كود_ سودان، ونتمنى لك رحلة تعليمة متميزة، رؤية كود_ سودان هي جعل السودان مركز
                تكنلوجي في أفريقيا، كل
                برامجنا عملية بحيث تقوم ببناء 3 مشاريع على الأقل، و مبنية على إحتياج السوق بحيث تتوفر لك أفضل الفرص
                لدخول سوق العمل
                مباشرة بعد نهاية برنامج {{batch.program}}
        </div>
        </div>
    </div>
</div>


<!-- منهج البرنامج -->
<div class="bg-warning my-5" style="border-radius: 5%;">
    <div>
        <h1 class="fs-2 pt-5 pb-2 text-center">منهج البرنامج</h1>
    </div>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5">
            <img src="{% static '/img/curriculum1.png' %}" class="d-block mx-lg-auto img-fluid" alt="our curriculum"
                width="80%" loading="lazy" class="justify-content-end">
        </div>

        <div class="col-md-6 justify-content-center">
            <div class="card-text m-3 ps-5 fs-3">
                <ol style="display:inline; font-family: 'IBM Plex Sans Arabic Bold';">
                    {% for topic in curriculum %}
                    <li class="mb-2">
                        {{ topic }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        
    </div>
</div>


<!-- معلومات سريعة عن البرنامج -->
<div>
    <h1 class="fs-2 m-5 text-center">معلومات سريعة عن البرنامج</h1>
</div>

<div class="container">
    <div class="row d-flex align-items-center justify-content-center" style="background-color: #EFEFEF;">

        <div class="col-md-2">
            <p class="fs-1 text-center" style="font-family: 'IBM Plex Sans Arabic Bold';">{{batch.session_duration_in_hours}}</p>
            <p class="fs-5 text-center">سآعات زمن المحاضرة</p>
        </div>

        <div class="col-md-2">
            <p class="fs-1 text-center" style="font-family: 'IBM Plex Sans Arabic Bold';">{{batch.sessions_per_week}}</p>
            <p class="fs-5 text-center">محاضرات في الإسبوع</p>
        </div>

        <div class="col-md-2">
            <p class="fs-1 text-center" style="font-family: 'IBM Plex Sans Arabic Bold';">لمدة {{batch.duration_in_weeks}}</p>
            <p class="fs-5 text-center">أسآبيع</p>
        </div>

        <div class="col-md-2">
            <p class="fs-1 text-center" style="font-family: 'IBM Plex Sans Arabic Bold';">{{batch.duration_in_weeks}}</p>
            <p class="fs-5 text-center">دفع سآبقة</p>
        </div>

        <div class="col-md-2">
            <p class="fs-1 text-center" style="font-family: 'IBM Plex Sans Arabic Bold';">أفضل</p>
            <p class="fs-5 text-center">تجربة تعليمية أونلاين</p>
        </div>
    </div>
</div>


<!-- مميزات البرامج و النسخ -->
<div>
    <h1 class="fs-2 m-5 text-center">مميزات برامجنا</h1>
</div>

<div class="container">
    <div class="row d-flex align-items-stretch justify-content-center">

        <div class="col-md-5 card border-0 mx-5 mb-3 align-items-center justify-content-center" style="color:black;background-color: #EFEFEF;">
            <h5 class="card-header text-center fs-2 my-3" style="font-family: 'IBM Plex Sans Arabic Bold';">مميزات النسخة الأساسية</h5>
            <div class="card-body">
                <h5 class="text-center fs-2">{{batch.basic_edition_price|intcomma}} جنيه</h5>
                    {% for detail in basic_edition_details %}
                    <div class="card-text m-3" style="font-family: 'IBM Plex Sans Arabic Thin';">
                        <img src="{% static '/svg/check-square-black.svg' %}" alt="" style="width: 2rem;">
                        <p class="fs-5 ms-1" style="display:inline; ">{{detail|safe}}</p>
                        <br>
                    </div>
                    {% endfor %}

                    <div class=" row d-flex justify-content-center align-content-center "  ><a class="btn btn-lg m-4" style="color:white; background-color: #0F9D58; font-size: 1.8rem; width:10rem;" href="{% url 'registration:program_enrollment' package="basic" %}" role="button">سجّل الآن</a></div>
                </div>
        </div>


        <div class="col-md-5 card border-0 mx-5 mb-3 align-items-center justify-content-center" style="color:white;background-color: #0F9D58;">
            <h5 class="card-header text-center fs-2 my-3" style="font-family: 'IBM Plex Sans Arabic Bold';">مميزات النسخة الذهبية</h5>
            <div class="card-body">
                <h5 class="text-center fs-2">{{batch.golden_edition_price|intcomma}} جنيه</h5>
                {% for detail in golden_edition_details %}
                    <div class="card-text m-3" style="font-family: 'IBM Plex Sans Arabic Thin';">
                        <img src="{% static '/svg/check-square-white.svg' %}" alt="" style="width: 2rem;">
                        <p class="fs-5 ms-1" style="display:inline; ">{{ detail|safe }}</p>
                        <br>
                    </div>
                {% endfor %}

                <div class=" row d-flex justify-content-center align-content-center "  ><a class="btn btn-lg m-4" style="color:black; background-color: white; font-size: 1.8rem; width:10rem;" href="{% url 'registration:program_enrollment' package="golden" %}" role="button">سجّل الآن</a></div>
            </div>
    </div>

    </div>
</div>

{% endblock %}